@font-face {
  font-family: 'MyFont';
  src: url('./fonts/DancingScript-VariableFont_wght.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: rgb(20, 25, 1);
  color: white;
}

nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#content {
  margin: auto;
  background-color: rgb(32, 28, 28);
  text-align: center;
  padding: 20px, 40px;

}

.homeBackground {
  height: 600px;
  width: 80%;
  background-image: url('./images/foodBackground.jpeg');
  font-family: 'MyFont';
}
.homeBackground > * {
  background-color: rgba(0, 0, 0, 0.365);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  margin-top: 20%;
}

.homeBackground > p{
max-width: 50%;
margin: auto;
margin-top: 20%;
}

.dishMenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px;
}

.dish {
  text-align: left;
  display: flex;
  gap: 50px;
  border: 1px solid wheat;
  padding-right: 12px;
  width: 500px;
}


button {
  background-color: rgb(225, 194, 16);
  border: none;
  padding: 20px;
  color: white;
}

ul {
  display: grid;
  gap: 20px;
  list-style: none;
  text-align: left;
  margin-left: 10%;
}